
/* custom properties */
:root{
--aqua: #40aab2;
--aquaLigth: #90d8d2;
--sand: #e4dbab;
--white: #ffffff;
-black: #212121;
}

/* this lines 1Rem=10px, get easier work with different displays */
html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: "JetBrains Mono", monospace;

} 

.title {
    text-align: center;
    font-size: 2.5rem;
}
.title span {
    font-size: 3.5rem;
}
.container {
    width: 120rem;/*this delimit the page content*/
    margin: 0 auto 0 auto;
}

.nav-bar {
    background-color: var(--aqua);
    
}

